{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1 style="font-weight: 600;">
        About <span id="logo"><span>M</span><span>usic</span><span>V</span><span>ision</span></span>
    </h1>

    <div style="width: 75vw; margin: auto;">
        <p>
            MusicVision is a project encouraging taking a serious look at one's data accumulated over the years, as this can be helpful to understand and explore one's music taste and possibly find new favorite tracks or artists.
            This project's vision is to make it easy to take a look at one's profile and show the information that's not as easily available in your usual profile.
            Thanks to <a class="styled-link" href="https://spotify.com/">Spotify</a> for providing an API to make this possible.
        </p>
    
        <h2>Contributing</h2>
        <p>
            This is an open source project, and it's available on <a class="styled-link" href="https://github.com/ZeroWave022/MusicVision">GitHub</a>.
            Contributing by pointing out issues or contributing with code or ideas is appreciated.
        </p>
        <h2>Disclaimer</h2>
        <p>This website is in no way associated with Spotify, nor is it endorsed by Spotify.</p>
    </div>
{% endblock %}
