{% extends "layout.html" %}

{% block additional_head_info %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="info-row">
        <div class="info-box">
            <h1>All your <span class="green">Spotify</span> information in one place</h1>
            <h2>Discover your MusicVision Dashboard</h2>
            <p>
                MusicVision provides you with your favorite artists and tracks,
                gives you the ability to sort the data to your liking,
                and much more.
            </p>
        </div>
        <div class="described-image">
            <img src="{{ url_for('static', filename='images/infographic.svg') }}" alt="Infographic">
            <p>Image retrieved from Pixabay</p>
        </div>
    </div>
    <h1>Check out all features</h1>
    <p>Look at our <a class="styled-link" href="{{ url_for('general.features') }}">features</a> page to read about everything MusicVision has to offer</p>
{% endblock %}
