{% extends "layout.html" %}

{% block additional_head_info %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/legal.css')}}">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="content">
        <h1>Privacy Policy</h1>
        <h4>Last updated: April 09, 2023</h4>

        <p>
            This privacy policy for MusicVision ("<strong>we</strong>," "<strong>us</strong>," or "<strong>our</strong>") describes how and for what purpose we collect, store, use, and/or share ("<strong>process</strong>") your information when you use our services ("<strong>Services</strong>").
            This is the case when visiting our website, located at <a href="https://musicvision.fly.dev">https://musicvision.fly.dev</a>, or any other website on the same top-level domain which links to this Privacy Policy.
            We hope reading this Privacy Policy will help you understand your privacy rights and our data usage.
        </p>
        <p>
            Please note that accepting this Privacy Policy is required to use our Services.
            If you ever do not consent to this policy, please stop using our Services immediately.
            In this case, please refer to section 5 to understand how to delete your information from our Services.
        </p>
        
        <h1>1. Definitions</h1>
        <p>
            The following phrases and their use need to be defined before proceeding. Their definition is valid no matter if they appear in singular or in plural.
            <ul>
                <li>"<strong>Dashboard</strong>" refers to your personal dashboard on our website, which can be accessed at <a href="https://musicvision.fly.dev/dashboard">https://musicvision.fly.dev/dashboard</a> when logged in.</li>
                <li>"<strong>You</strong>" refers to an individual or the person acting on behalf of a company, organization or business using our Services and/or Website.</li>
                <li>"<strong>Spotify</strong>" refers to the service provided by Spotify AB, which can be accessed at <a href="https://spotify.com">https://spotify.com</a>.</li>
                <li>"<strong>Login with Spotify</strong>" or "<strong>Login using Spotify</strong>" refers to the service provided by Spotify AB to developers of Spotify Applications which allows users to login using their platform.</li>
                <li>"<strong>Website</strong>" refers to MusicVision, accessible at <a href="https://musicvision.fly.dev">https://musicvision.fly.dev</a></li>
            </ul>
        </p>

        <h1>2. Consent</h1>
        <p>
            By using our Website or our Services, you hereby consent with our Privacy Policy.
        </p>

        <h1>3. Information we collect and it's purpose</h1>
        <p>
            We collect personal information that is provided to us by You.
            This may happen when you voluntarily provide this information to us, by contacting us, or when You express an interest in our Services.
            At the time of writing, we do not prosess any sensitive information.
        </p>
        <p>
            <strong>Spotify Data</strong><br>
            When logging in using Spotify, we collect information which is required to provide our Services to you.
            This includes, but is not necessarily limited to:
            <ul>
                <li>Your username</li>
                <li>Other data which is necessary to use the Spotify Web API, a service provided by Spotify AB</li>
            </ul>
            This data is not stored any longer than necessary to provide our Services.
            This means that we keep information for as long as you have an account in MusicVision.
        </p>

        <h1>4. Security</h1>
        <p>
            MusicVision has implemented technical solutions to assure data security.
            This includes secured database(s), the usage of secure internet protocols and no access to data given to third parties.
            We are not associated with Spotify AB in any way, and we can therefore not guarantee the security of logging is using Spotify.
            For more information about the securitysecurity, data collection and data usage of Spotify AB, please visit Spotify's Privacy Policy, which is located at <a href="https://www.spotify.com/legal/privacy-policy">https://www.spotify.com/legal/privacy-policy</a>.
        </p>
        <p>
            Unfortunately, no internet connection and data transfer is guaranteed to be secure.
            We will do our best to secure your information from cyberattacks, hackers, cybercriminals, or other unauthorized parties.
            In the case of unauthorized access, which includes, but is not limited to modification, stealing, collecting, or deletion of data, we will post a notification about this on our website.
            Accessing our website and logging in using Spotify should always be done in a secure internet environment.
        </p>

        <h1>5. Usage of cookies</h1>
        <p>
            The sole purpose of cookie usage on our websites is to improve your experience of using our Services.
            We use cookies to identify who You are, and we do this by storing only essential information in encrypted cookies.
            This helps us identify which Spotify account belongs to you.
            Our usage of cookies does not involve any form for tracking your usage patterns, or other potentially sensitive information about You.
        </p>
        <p>
            Many modern browsers accept cookies automatically.
            You can reject cookies at any time using your brower's settings, but we can't guarantee proper functionality of our Services if this is the case.
        </p>

        <h1>6. Reviewing, updating, and deletion of your data</h1>
        <p>
            You have the right to review, update or delete any of your information we have collected.
        </p>
        <p>
            <strong>Data review and update</strong><br>
            You can always review and/or update your account information in your Dashboard.
        </p>
        <p>
            <strong>Data deletion</strong><br>
            If you decide to delete your account, or any of your information, we will delete this information immediately upon receiving the request.
            This is an action you can do in your Dashboard, or at <a href="http://musicvision.fly.dev/dashboard/delete-account">http://musicvision.fly.dev/dashboard/delete-account</a>.
        </p>

        <h1>7. Your privacy rights</h1>
        <p>
            In some regions (for example the EEA, UK, and Canada), you have certain rights under applicable data protection laws.
            These may include the right (I) to request access and obtain a copy of your personal information, (II) to request rectification or erasure, (III) to restrict the processing of your personal information, and (IV) if applicable, to data portability.
            In certain circumstances, you may also have the right to object to the processing of your personal information.
            You can make such a request by contacting us by using the contact details provided in section 9.
            If you believe we are processing your data unlawfully, you can always complain to your Data Protection Authority.
        </p>

        <h1>8. Updates to this Privacy Policy</h1>
        <p>
            We reserve the right to update this Privacy Policy at any time, and therefore we advise you to visit this page periodically.
            When we update this Privacy Policy, a notification about this will appear on our Website and a updated date will be provided on this page.
            Any updates or changes to this Privacy Policy are effective immediately after being posted on this page, accessible at <a href="https://musicvision.fly.dev/legal/privacy-policy">https://musicvision.fly.dev/legal/privacy-policy</a>. 
            Your continued use of our Services after the effective date of the revised Terms constitute your consent to these updates and changes.
        </p>


        <h1>9. Contact</h1>
        <p>
            If you have any questions or concerns, please contact us at <a href="mailto:musicvisionwebsite@gmail.com">musicvisionwebsite@gmail.com</a>.
        </p>

    </div>
{% endblock %}
