{% extends "layout.html" %}

{% block additional_head_info %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/legal.css')}}">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="content">
        <h1>Terms of Service</h1>
        <h4>Last updated: April 09, 2023</h4>

        <p>
            These Terms of Service for MusicVision ("<strong>we</strong>," "<strong>us</strong>," or "<strong>our</strong>") are governing the use our services ("<strong>Services</strong>").
            These Terms are in effect when visiting our Website, located at <a href="https://musicvision.fly.dev">https://musicvision.fly.dev</a>, or any other website on the same top-level domain which links to these Terms of Service.
            These Terms are legally binding between You and us, the Operator. If you do not have such authority, you can not accept these Terms and use our Services.
            You acknowledge that you have read, understood and agree with these Terms by using our Website or Services.
        </p>
        <p>
            Please note that accepting these Terms is required to use our Services.
            If you ever do not consent to this policy, please stop using our Services immediately.
        </p>
        
        <h1>1. Definitions</h1>
        <p>
            The following phrases and their use need to be defined before proceeding. Their definition is valid no matter if they appear in singular or in plural.
            <ul>
                <li>"<strong>Terms of Service</strong>"" or "<strong>Terms</strong>" refers to the agreement between You and us regarding the use of our Services.</li>
                <li>"<strong>Dashboard</strong>" refers to your personal dashboard on our website, which can be accessed at <a href="https://musicvision.fly.dev/dashboard">https://musicvision.fly.dev/dashboard</a> when logged in.</li>
                <li>"<strong>You</strong>" refers to an individual or the person acting on behalf of a company, organization or business using our Services and/or Website.</li>
                <li>"<strong>Spotify</strong>" refers to the service provided by Spotify AB, which can be accessed at <a href="https://spotify.com">https://spotify.com</a>.</li>
                <li>"<strong>Login with Spotify</strong>" or "<strong>Login using Spotify</strong>" refers to the service provided by Spotify AB to developers of Spotify Applications which allows users to login using their platform.</li>
                <li>"<strong>Website</strong>" refers to MusicVision, accessible at <a href="https://musicvision.fly.dev">https://musicvision.fly.dev</a></li>
                <li>"<strong>Operator</strong>" refers to us as the operators of our Website and Services.</li>
            </ul>
        </p>

        <h1>2. Accounts</h1>
        <p>
            You must be at least 13 years old, or at least the age required for us to process your data legally according to the laws applicable to You in your region or country.
            By using our Services, you acknowledge that you are at least 13 years old, or at least the age required to process your data legally.
            For more information about our data usage, please visit our Privacy Policy available at <a href="https://musicvision.fly.dev/legal/privacy-policy">https://musicvision.fly.dev/legal/privacy-policy</a>.
        </p>
        <p>
            When Logging in with Spotify, you are responsible for maintaining the security of your internet connection and creditentials, and You are fully responsible for any actions taken using your internet connection.
            We may suspend, disable or block your access to our Services if we determine that You have violated these Terms in any way.
        </p>

        <h1>3. Prohibited Uses</h1>
        <p>
            You are prohibited from using the Website and/or our Services for the following purposes:
            <ul>
                <li>For any unlawful acts or purposes</li>
                <li>To violate international, federal, provincial, or state laws or regulations</li>
                <li>To upload or transmit viruses or any other type of malicious code and software that could be used to affect the functionality, uptime or accessibility of our Website and Services</li>
                <li>To interfere with, bypass or circumvent the security of our security features integrated with our Website and Services or the Internet</li>
                <li>To gather information, scan, search, scrape or otherwise inspect our Services without prior written consent</li>
            </ul>
        </p>

        <h1>4. Limitation of Liability</h1>
        <p>
            To the fullest extent permitted by applicable law, in no event and under no legal theory, whether in tort (including negligence), contract, or otherwise, unless required by applicable law (such as deliberate and grossly negligent acts) or agreed to in writing,
            shall the Operator be liable to You for damages, including any indirect, direct, special, incidental, or consequential damages of any character arising as a result of these Terms or out of the use or inability to use our Services
            (including but not limited to damages for loss of goodwill, loss of profits, impact on business, work stoppage, or any and all other commercial damages or losses).
        </p>

        <h1>5. Severability</h1>
        <p>
            All rights and restricitions in these Terms may be exercised and shall be applicable only to the extend that they do not violate any applicable laws.
            If any provision or portion of these Terms shall be invalid, illegal or unenforcable, the validity, legality, and enforceability of the remaining provisions or portions shall not in any way be impaired or affected thereby.
        </p>

        <h1>6. Updates to these Terms of Service</h1>
        <p>
            We reserve the right to update these Terms at any time, and therefore we advise you to visit this page periodically.
            When we update these Terms, a notification about this will appear on our Website and a updated date will be provided on this page.
            Any updates or changes to these Terms are effective immediately after being posted on this page, accessible at <a href="https://musicvision.fly.dev/legal/terms-of-service">https://musicvision.fly.dev/legal/terms-of-service</a>. 
            Your continued use of our Services after the effective date of the revised Terms constitute your consent to these updates and changes.
        </p>

        <h1>7. Contact</h1>
        <p>
            If you have any questions or concerns, please contact us at <a href="mailto:musicvisionwebsite@gmail.com">musicvisionwebsite@gmail.com</a>.
        </p>

        <h1>8. Disclaimers</h1>
        <p>
            The source code of MusicVision has its own applicable open source license.<br>
            MusicVision and our Services are in no way associated with Spotify AB, nor are they endorsed by Spotify AB in any way.
        </p>
    </div>
{% endblock %}
