{% extends "layout.html" %}

{% block additional_head_info %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/main.css') }}">
{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <h1 id="page-title">Dashboard</h1>

    <div class="flex-row">
        {% if song %}
            <div id="now-playing-grid">
                <img src="{{ url_for('static', filename='icons/Spotify_Logo_Green.png') }}" alt="Spotify Logo">
                <h1>Now Playing</h1>
                <img src="{{ song['album']['images'][0]['url'] }}" alt="Album cover">

                <div id="track-info">
                    <h1><a class="styled-link" href="{{ song['external_urls']['spotify'] }}">{{ song["name"] }}</a></h1>
                    <h2>By {{ song['all_artists'] }}</h2>
                    
                    {% if song.get("playlist") %}
                        <h2>
                            Playlist: <a class="styled-link" href="{{ song['playlist']['url'] }}">{{ song["playlist"]["name"] }}</a>
                        </h2>
                    {% endif %}
                    
                    {% if player["enabled"] and player["is_playing"] %}
                        <img src="{{ url_for('static', filename='icons/circle-pause-solid.svg')}}" class="play-button" onclick="play_button_event()">
                    {% elif player["enabled"] and not player["is_playing"] %}
                        <img src="{{ url_for('static', filename='icons/circle-play-solid.svg')}}" class="play-button" onclick="play_button_event()">
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div id="nothing-playing">
                <h1>Now Playing</h1>
                <h2>Nothing currently playing in your Spotify profile.</h2>
            </div>
        {% endif %}
        <div id="view-more">
            <h3>View more information</h3>
            <a class="styled-link" href="{{ url_for('dashboard.top_artists') }}">Your top artists</a>
            <a class="styled-link" href="{{ url_for('dashboard.top_tracks') }}">Your top tracks</a>
            
            <h3>Manage your account</h3>
            <a class="styled-link" href="{{ url_for('auth.logout')}}">Log out</a>
            <a class="styled-link" href="{{ url_for('dashboard.delete_account') }}">Delete your account</a>
        </div>
    </div>

    <div class="chart">
        <h1>Your top tracks</h1>
        <canvas id="tracks-chart"></canvas>
        <div class="choice-links">
            <a onclick="updateChart('tracks', 'long_term', 5)" >All time</a>
            <a onclick="updateChart('tracks', 'medium_term', 5)">Last 6 months</a>
            <a onclick="updateChart('tracks', 'short_term', 5)">Last 4 weeks</a>
        </div>
    </div>

    <div class="chart">
        <h1>Your top artists</h1>
        <canvas id="artists-chart"></canvas>
        <div class="choice-links">
            <a onclick="updateChart('artists', 'long_term', 5)" >All time</a>
            <a onclick="updateChart('artists', 'medium_term', 5)">Last 6 months</a>
            <a onclick="updateChart('artists', 'short_term', 5)">Last 4 weeks</a>
        </div>
    </div>
{% endblock %}

{% block additional_body %}
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script src="{{ url_for('static', filename='js/dashboardCharts.js') }}"></script>
{% endblock %}
