{% extends "layout.html" %}

{% block additional_head_info %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/top.css') }}">
{% endblock %}

{% block title %}
    Top Tracks
{% endblock %}

{% block main %}
    <h1>Top Tracks</h1>
    <p>Note: Album is not shown if the track is a single.</p>
    <div class="choice-links">
        <a class="{{ 'active' if filter == 'long_term' }}" href="?f=long_term&p=1">All time</a>
        <a class="{{ 'active' if filter == 'medium_term' }}" href="?f=medium_term&p=1">Last 6 months</a>
        <a class="{{ 'active' if filter == 'short_term' }}" href="?f=short_term&p=1">Last 4 weeks</a>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Track</th>
                    <th>Artist(s)</th>
                    <th>Popularity</th>
                    <th>Release date</th>
                </tr>
            </thead>
            <tbody>
            {% for index, track in tracks %}
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>
                        <div class="item-td">
                            <img src="{{ track['album']['images'][0]['url'] }}" alt="Album cover">
                            <div class="track-info">
                                <a class="styled-link" href="{{ track['external_urls']['spotify']}}">{{ track["name"] }}</a>
                                {% if track["album"]["album_type"] in ["ALBUM", "COMPILATION"] %}
                                    <p>
                                        Album: <a class="styled-link" href="{{ track['album']['external_urls']['spotify'] }}">{{ track['album']['name'] }}</a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    <td class="track-artists-td">
                        {% for artist in track["artists"] %}
                            <a class="styled-link" href="{{ artist['external_urls']['spotify'] }}">{{ artist["name"] }}</a>
                        {% endfor %}
                    </td>
                    <td>{{ track["popularity"] }}/100</td>
                    <td>{{ track["album"]["release_date"] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="choice-links">
        {% if page - 1 > 0 %}
        <a href="?f={{ filter }}&p={{ page - 1 }}">
            <img class="icon" src="{{ url_for('static', filename='icons/angle-left-solid.svg') }}" alt="Angle icon pointing left">
                <span>Previous page</span>
            </a>
            {% endif %}
            {% if page + 1 < 6 %}
            <a href="?f={{ filter }}&p={{ page + 1 }}">
                <span>Next page</span>
                <img class="icon" src="{{ url_for('static', filename='icons/angle-right-solid.svg') }}" alt="Angle icon pointing right">
            </a>
            {% endif %}
    </div>
    <p class="page-counter">Page {{ page }} of 5</p>
{% endblock %}
