<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicVision: {% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" >
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {% block additional_head_info %}
        
    {% endblock %}
</head>
<body>
    <nav>
        <a href="/" id="logo">
            <span>M</span>
            <span>usic</span>
            <span>V</span>
            <span>ision</span>
        </a>

        <div id="nav-center-buttons">
            <a href="/">Home</a>
            <a href="/features">Features</a>
            <a href="/about">About</a>
        </div>
        
        {% if g.user %}
        <a href="/dashboard" id="interaction-link">Dashboard</a>       
        {% else %}
        <a href="/auth/login" id="interaction-link">Login</a>
        {% endif %}
    </nav>

    <main>
        {% block main %}
            
        {% endblock %}
    </main>

    <footer>
        <div>
            <h1>MusicVision</h1>
            <a class="styled-link block-link" href="/features">
                Features
            </a>
            <a class="styled-link block-link" href="/about">
                About
            </a>
        </div>
        <div>
            <h1>Shortcuts</h1>
            <a class="styled-link block-link" href="/top_artists">
                Your top artists
            </a>
            <a class="styled-link block-link" href="/top_tracks">
                Your top tracks
            </a>
        </div>
        <div>
            <h2>About</h2>
            <p>
                MusicVision is open-source and available on <a class="styled-link" href="https://github.com/ZeroWave022/MusicVision">GitHub</a>.
                If you find any bugs, feel free to open an <a class="styled-link" href="https://github.com/ZeroWave022/MusicVision/issues">issue</a> there.
                Contributions are greatly appreciated.
            </p>
            <h2>Acknoledgements</h2>
            <p>This website is in no way associated with Spotify, nor is it endorsed by Spotify.</p>
        </div>
    </footer>
    
    {% block additional_body %}
        
    {% endblock %}
</body>
</html>
