<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicVision: {% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" >
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">

    {% block additional_head_info %}
        
    {% endblock %}
</head>
<body>
    <nav>
        <a href="/" id="logo">
            <span>M</span>
            <span>usic</span>
            <span>V</span>
            <span>ision</span>
        </a>

        <div id="nav-center-buttons">
            <a href="/">Home</a>
            <a href="/features">Features</a>
            <a href="/about">About</a>
        </div>
        
        {% if g.user %}
        <a href="{{ url_for('dashboard.index') }}" id="interaction-link">Dashboard</a>       
        {% else %}
        <a href="{{ url_for('auth.login') }}" id="interaction-link">Login</a>
        {% endif %}
    </nav>

    <main>
        {% block main %}
            
        {% endblock %}
    </main>

    <footer>
        <div>
            <h1>MusicVision</h1>
            <a class="styled-link block-link" href="{{ url_for('general.features') }}">
                Features
            </a>
            <a class="styled-link block-link" href="{{ url_for('general.about') }}">
                About
            </a>
        </div>
        <div>
            <h1>Shortcuts</h1>
            <a class="styled-link block-link" href="{{ url_for('dashboard.index') }}">
                Your dashboard
            </a>
            <a class="styled-link block-link" href="{{ url_for('dashboard.top_artists') }}">
                Your top artists
            </a>
            <a class="styled-link block-link" href="{{ url_for('dashboard.top_tracks') }}">
                Your top tracks
            </a>
        </div>
        <div>
            <h2>About MusicVision</h2>
            <a class="styled-link block-link" href="{{ url_for('general.about') }}">About</a>
            <a class="styled-link block-link" href="{{ url_for('legal.terms') }}">Terms of Service</a>
            <a class="styled-link block-link" href="{{ url_for('legal.privacy') }}">Privacy Policy</a>
        </div>
    </footer>
    
    {% block additional_body %}
        
    {% endblock %}
</body>
</html>
