<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicVision: {% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" >
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {% block additional_head_info %}
        
    {% endblock %}
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/features">Features</a>
        <a href="/about">About</a>
        

        {% if g.user %}
        <a href="/dashboard" id="interaction-link">Dashboard</a>       
        {% else %}
        <a href="/auth/login" id="interaction-link">Login</a>
        {% endif %}
    </nav>

    <main>
        {% block main %}
            
        {% endblock %}
    </main>

    <footer>

    </footer>
</body>
</html>
