.green {
    color: rgb(0, 175, 80);
}

.main-content {
    width: 75vw;
    margin: auto;
}

/* General choice buttons with animations and optional logos */
.choice-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 1rem 0;
}

.choice-buttons a,
.choice-buttons button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 32px;
    
    background-color: rgb(92, 93, 103);
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;

    transition: 0.2s ease-in-out;
}

.choice-buttons a:hover,
.choice-buttons button:hover {
    background-color: rgb(48, 48, 54);
    transition: 0.2s ease-in-out;
}

.choice-buttons a.active,
.choice-buttons button.active {
    background-color: rgb(0, 175, 80);
}

.choice-buttons .icon {
    width: 16px;
    height: 32px;
}
