body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    background-color: rgb(228, 220, 207);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.styled-link {
    position: relative;
    color: hsl(212, 100%, 40%);
    text-decoration: none;
    font-weight: 600;
}

.styled-link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(26, 133, 255);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    z-index: 1;
}

.styled-link:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 10px auto 50px auto;
    position: relative;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#nav-center-buttons {
    display: flex;
    gap: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#nav-center-buttons a {
    font-size: 22px;
    transition: 0.2s ease-in-out;
}

#nav-center-buttons a:hover {
    transition: 0.2s ease-in-out;
    text-shadow: gray 2px 2px 5px;
}

#logo {
    display: flex;
    padding: 0;
}

#logo span {
    font-size: 32px;
    font-weight: 600;
}

#logo span:nth-child(1) {
    color: rgb(227, 28, 28);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

#logo span:nth-child(3) {
    color: rgb(26, 133, 255);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

#interaction-link {
    font-size: 18px;
    padding: 10px;

    color: white;
    background-color: rgb(0, 43, 91);
    border-radius: 32px;
}

.info-row {
    display: flex;
    margin: auto;
    width: fit-content;
    gap: 100px;
}

.info-row h1, .info-row h2 {
    margin: 0.25em 0;
}

.info-box {
    flex: 1;
}

.described-image img {
    max-height: 450px;
}

.described-image p {
    text-align: right;
    margin: 5px 0;
}

.green {
    color: rgb(0, 175, 80);
}

footer {
    display: flex;
    height: 25vh;
    padding: 5px 5vw;
    margin-top: 50px;
    gap: 50px;
    background-color: rgba(249, 245, 235, 0.9);
    border-top: 5px solid hsl(37, 27%, 75%);
}

footer div {
    text-align: center;
    flex: 1;
}

footer .block-link {
    display: block;
    margin: 1rem auto;
    width: fit-content;
}
