body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: auto;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 22px;
    font-weight: 500;

    transition: 0.2s ease-in-out;
}

nav a:hover {
    transition: 0.2s ease-in-out;
    text-shadow: gray 2px 2px 5px;
}
